.main {
    background-color: red;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.playPauseButton {
    font-size: 48px;
    
}